<h2>Lista de Orientações</h2>
<hr>


<a href="/auth/orientacoes/add">
<button class="btn btn-success"> Nova Orientação</button>

</a>

{{#each orientacoes}}

    <div class="card mt-4 hoverCard"  >
        <div class="card-body" style="display:flex; 
        justify-content: space-between; width:100%; align-items:center; ">
            <div>
                <h4>{{nome}}</h4>
            <small> Data criação:  {{date}}</small>
            
            </div>
            

            <div style="display:flex; flex-direction:column; align-items:center; padding:0px">
                <a href="/auth/orientacoes/edit/{{_id}}"> 
                <button class="btn btn-outline-info " > Edit </button>
            </a>

            <form action="/auth/orientacao/del" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-outline-danger mt-2" > Delete </button>
            </form>
            </div>
                        
        </div>
    </div>
{{else}}
    
    <h3> Nenhuma orientação cadastrada !</h3>

{{/each}}